* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

/* utilities */
body {
   background: #1a1d21;
}

h2 {
   font-size: 3.6rem;
}

h3 {
   font-size: 3rem;
}

label {
   font-size: 1.5rem;
}

p {
   margin-bottom: 0;
   font-size: 1.3rem;
}

.container {
   max-width: 1140px;
}

/* warning message system */
.warning {
   border: 4px solid #D9004C;
   color: #E3E3E3;
   padding: 10px;
   align-items: center;
   border-radius: 10px;
   background: rgb(217,0,76, 0.4);
}

.warning h5 {
   font-size: 2rem;
}

/* homepage */
#nav {
   min-width: 100px;
   background-color: #1E2226;
   color: #e79e19;
   padding: 20px;
}

.search-user {
   border: 2px solid #E3E3E3;
   border-radius: 10px;
   margin-top: 50px;
   color: #E3E3E3;
   padding: 15px;
}

.search-user .search-form form label {
   font-weight: 20;
}

.search-user .search-form form .input-field input[type="text"] {
   max-width: 950px;
   margin-top: 20px;
   font-size: 1.5rem;
   color: black;
   font-weight: 400;
}

.search-user .search-form form .input-field input[type="submit"] {
   border-color: #E3E3E3;
   color: #E3E3E3;
   margin-left: 5px;
}

.search-user .search-form form .input-field input[type="submit"]:hover {
   color: #e79e19;
   border-color: #e79e19;
}

/* profile section */
#profile {
   display: flex;
   margin-top: 50px;
   /* border: 2px solid #E3E3E3; */
   border-radius: 10px;
   padding: 15px;
}

#profile .profile-left {
   display: flex;
   flex-flow: column;
}

#profile .profile-left img {
   width: 200px;
   border-radius: 50%;
}

#profile .profile-left a {
   display: flex;
   color: #E3E3E3;
   text-decoration: none;
   border: 2px solid #E3E3E3;
   margin-top: 20px;
   border-radius: 5px;
   padding: 10px 5px;
   justify-content: center;
}

#profile .profile-left a:hover {
   border-color: #fff;
   color: #fff;
}

#profile .profile-left a p {
   padding-left: 1.5rem;
}

#profile .profile-left a img {
   width: 20px;
   /* margin-right: 10px; */
}

#profile .profile-right {
   margin-left: 8rem;
   color: #E3E3E3;
   width: 100%;
   display: flex;
   flex-direction: column;
}

#profile .profile-right .profile-right-bio {
   border: 2px solid #E3E3E3;
   border-radius: 10px;
   padding: 15px;
   max-height: 200px;
}

#profile .profile-right .profile-right-bio .name {
   display: flex;
   /* justify-content: space-between; */
   margin: 15px 0;
   text-align: left;
}

#profile .profile-right .profile-right-bio .bio {
   display: flex;
   /* justify-content: space-between; */
   margin: 15px 0;
   text-align: left;
}

#profile .profile-right .profile-right-bio .location {
   display: flex;
   /* justify-content: space-between; */
   margin: 15px 0;
}

#profile .profile-right .profile-right-bio .member-since {
   display: flex;
   /* justify-content: space-between; */
   margin: 15px 0;
}

#profile .profile-right .profile-right-bio .profile-about-title {
   padding-right: 10px;
}

#profile .profile-right .profile-right-tags {
   display: flex;
}

#profile .profile-right .profile-right-tags .tag {
   display: flex;
   flex-direction: row;
   margin-top: 35px;
   margin-right: 10px;
   padding: 10px 10px;
   border-radius: 5px;
}

#profile .profile-right .profile-right-tags .repo-tag {
   background-color: #dc3545;
}

#profile .profile-right .profile-right-tags .follower-tag {
   background-color: #fd7e14;
}

#profile .profile-right .profile-right-tags .following-tag {
   background-color: #198754;
}

#profile .profile-right .profile-right-tags .tag .tag-title {
   padding-right: 5px;
}